+++
title = "D&D AU Systems"
linkTitle = "D&D AU Systems"

+++

{{< blocks/cover title="D&D AU Systems Documentation" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		View docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://bitbucket.globalx.com.au/projects/AR/repos/gsf-docsy/browse">
		View source <i class="fab fa-git-alt ml-2 "></i>
	</a>
	<p></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
This documentation portal provides guidance on the patterns, practices, features and components of the D&D AU systems.


{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-sitemap" title="Architecture" %}}
High level architecture diagrams
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-code" title="Development tools & processes"  %}}
Development environment, dev team processes, CI/CD pipelines
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-lightbulb" title="Software systems & applications" %}}
Design and features of each application
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col text-center lead">
	<p>Your contributions are welcome!</p>
	<p>Make a Pull Request on <a href="https://bitbucket.globalx.com.au/projects/AR/repos/gsf-docsy/browse">Bitbucket</a> to share the knowledge</p>
</div>

{{< /blocks/section >}}


